.header__lang-link {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: white;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: .7;
  transition: opacity 1s linear 0.5s;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}