.place__title {
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
    .place__title  {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
        max-height: 92px;
        word-spacing: 10px;
        
        
        
    }
  }

  @media screen and (max-width: 320px) {
    .place__title  {
        margin: 0 16px 0;
        font-size: 32px;
        line-height: 35px;
        
    }
  }