.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}