.photo-grid {
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid  {
      min-width: 928px;
      gap: 14px;
      padding-right: 48px;
      padding-left: 48px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid  {
      max-width: 720px;
      gap: 16px;
    }
  }

  @media screen and (max-width: 767px) {
    .photo-grid {
      max-width: 720px;
      padding: 0 16px 40px 16px;
    }
  }