.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) and (max-width: 767px) {
  .lead {
    max-width: 320px;
    padding-bottom: 64px;
  }
}