.place__paragraph {
    margin: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph  {
        width: 456px;
        
    }
  }

@media screen and (max-width: 768px) {
    .place__paragraph  {
        width: 352px;
        font-size: 16px;
        line-height: 26px;
        
    }
  }

  @media screen and (max-width: 320px) {
    .place__paragraph  {
        width: 288px;
        font-size: 16px;
        line-height: 26px;
        padding-left: 16px;
        
    }
  }  