.footer__copyright {
	margin: 0;
	color: white;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

@media screen and (max-width: 767px) {
	.footer__copyright {
		margin-top: 48px;
		line-height: 1;
		max-width: 230px;
	}
}