.intro__text {
	margin: 0 0 33px;
	color: white;
	text-align: left;
	max-width: 690px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}

@media screen and (max-width: 320px) {
	.intro__text {
		margin: 0 0 34px;
	}
}