.cover {
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 100%;
    max-height: 640px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .cover {
    width: 100%;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100%;
    max-height: 200px;
  }
}
