.cover__title {
    margin: 0;
    color: white;
    font-size: 72px;
    line-height: 76px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    max-width: 560px;
    z-index: 2;
}

@media screen and (max-width: 320px) {
    .cover__title  {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding: 33px 16px 16px;
        
    }
}