.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  grid-template-rows: 1fr;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding: 24px 0;
    grid-template-columns: minmax(288px, 1fr);
    grid-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    padding: 0;
  }
}