.place__url-heading {
    margin: 0 0 12px;
    color: #AAAAAA;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}