.page {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
        
}

.header {
    width: 1184px;
    height: 52px;
    padding: 28px 48px 56px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 176px;
    height: 62px;
}

.header__lang-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__lang-element {
    margin-right: 18px;
}

.header__lang-element:last-of-type {
    margin-right: 0;
}

.header__lang-link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: white;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.header__lang-link_active {
    text-decoration: underline;
}

/* СЕКЦИЯ LEAD */

.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

.lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 1.1;
    color: white;
    margin: 0 0 32px;
    text-align: center;
    font-style: normal;
    
}

.lead__subtitle {
    max-width: 640px;
    font-size: 36px;
    line-height: 1.2; /*здесь 36px */
    text-align: center;
    color: white;
    margin: 0 0 64px;
    font-style: normal;
}

.lead__image {
    width: 100%;
}

.lead__caption {
    color: white;
    font-style: normal;
    font-size: 10px;
    line-height: 1.4; /*здесь 14px */
    font-weight: normal;
    text-transform: uppercase;
}

.lead__container {
    margin: 0;
}


/* СЕКЦИЯ INTRO */

.intro {
    margin: 0 auto;
    max-width: 984px;
    padding-bottom: 92px;
}

.into__title {
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    color: white;
}

.intro__text {
    margin: 0 0 33px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 26,08px;
    text-align: left;
    max-width: 690px;
}

.intro__list {
    list-style: none;
    color: white;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* СЕКЦИЯ PHOTO-GRID */

.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 auto; 
  padding-bottom: 92px;
}

.photo-grid__item {
   max-width: 100%;
}

/* СЕКЦИЯ PLACES */

.places {
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 92px;
    /* padding-top: 92px;
     */
} 

.place {
    display: grid;
    grid-template-columns: 460px 1fr;    /* !!!! */
    gap: 48px 40px;
    grid-template-rows: 1fr;
    padding-bottom: 80px;
    
}

.place__image {
    width: 100%;
    grid-row: 2/3;
}

.place__title {
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.0;
    margin: 0;
}

.place__website {
    align-self: end;
} 

 
.place__url-heading {
    margin: 0 0 12px;
    color: #AAAAAA;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.0;
    text-transform: uppercase;
}

.place__link {
    margin: 0;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
}

.place__paragraph {
    margin: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: #FFFFFF;
}

.place__paragraph:last-of-type {
        margin-bottom: 0;
}


     