/* @import url(../fonts/inter.css); */

.page {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
}

.header {
    width: 1184px;
    height: 52px;
    padding: 28px 48px 56px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 176px;
    height: 62px;
}

.header__lang-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__lang-element {
    margin-right: 18px;
}

.header__lang-element:last-of-type {
    margin-right: 0;
}

.header__lang-link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: white;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: .7;
    transition: opacity 1s linear 0.5s;
}

.header__lang-link_active {
    text-decoration: underline;
    
}

/* СЕКЦИЯ LEAD */

.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.lead__title {
    max-width: 720px;
    color: white;
    margin: 0 0 32px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle {
    max-width: 640px;
    color: white;
    margin: 0 0 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.lead__image {
    width: 100%;
}

.lead__caption {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 8px;
}

.lead__container {
    margin: 0;
}

/* СЕКЦИЯ INTRO */

.intro {
    margin: 0 auto;
    max-width: 984px;
    padding-bottom: 92px;
}

.into__title {
    margin: 92px 0 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    text-align: left;
    color: white;
}

.intro__text {
    margin: 0 0 33px;
    color: white;
    text-align: left;
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;   
}

.intro__list {
    list-style: none;
    color: white;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.intro__list-number {
    font-weight: normal;
}

/* СЕКЦИЯ PHOTO-GRID */

.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 auto; 
  padding-bottom: 92px;
}

.photo-grid__item {
   max-width: 100%;
}

/* СЕКЦИЯ PLACES */

.places {
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 92px;
} 

.place {
    display: grid;
    grid-template-columns: 460px 1fr;    /* !!!! */
    gap: 48px 40px;
    grid-template-rows: 1fr;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}

.place__image {
    width: 100%;
    grid-row: 2/3;
}

.place__title {
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

.place__website {
    align-self: end;
} 

 
.place__url-heading {
    margin: 0 0 12px;
    color: #AAAAAA;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


.place__link {
    margin: 0;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-decoration-line: underline;
}

.place__link:hover {
    opacity: .7;
    transition: opacity 1s linear 0.5s;
}

.place__paragraph {
    margin: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.place__paragraph:last-of-type {
        margin-bottom: 0;
}


/* СЕКЦИЯ COVER */

.cover__overlay {
    background-image: url(../images/cover-trains.jpg);
    background-size: cover;
    max-width: 1184px;
    min-height: 744px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.cover__overlay::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .3;
    z-index: -1;
}

.cover__overlay:hover:after {
    opacity: .5;
} 

.cover__title {
    margin: 0;
    color:white;
    font-size: 72px;
    line-height: 76px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    max-width: 560px;
}

.cover__subtitle {
    margin: 0;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    text-align: center;
    padding-top: 32px;
}

/* СЕКЦИЯ FOOTER */

.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 88px 48px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    list-style: none;
    margin: 0;
    margin-right: 18px;    
}

.footer__list:last-of-type {
    margin-right: 0;
}


.footer__link {
    margin: 0;
    padding: 0;
    display: flex;
}

.footer__link-item {
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.footer__link-item:hover {
    opacity: .7;
    transition: opacity 1s linear 0.5s;
}

.footer__copyright {
    margin: 0;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}


  


