.intro__title {
    margin: 0 0 40px;
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    text-align: left;
    color: white;
}

@media screen and (max-width: 320px) {
    .intro__title {
        margin: 0 16px 40px 0;
        font-size: 32px;
        line-height: 35px;
        
    }
  }